{% load static %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Password Reset Page</title>
<link rel="stylesheet" href="{% static 'user/css/resetPwd.css' %}">
<link rel="stylesheet" href="{% static 'user/css/login.css' %}">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="{% static 'user/javascript/resetPassword/password_reset.js' %}"></script>

{% if messages %}
{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message | safe }}
</div>
{% endfor %}
{% endif %}

<div class="reset-container">
    <div class="resetPwd-box" id="resetPwd-box">
        <h1 class="text-center"><span>MediLink</span> Reset Password</h1>
        <p class="title">Forgotten your password? Enter your email address below, and we'll email instructions for
            setting a new one.</p>
        <form id="resetPwdForm" method="POST" action="{% url "user:passwordReset" %}">
            {% csrf_token %}
            <div id="user_details_section">
                <div class="form-group">
                    <input type="email" name="user_email" id="email" required placeholder=" ">
                    <label for="email">Email</label>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Send Email</button>
                <p class="title2">Back to login? <a href="{% url "user:login" %}" class="login">click here</a></p>
            </div>
    </div>
</div>