{% load static %}
<link rel="stylesheet" href="{% static 'user/login.css' %}">

<div class="login-box">
    <h1>WELCOME TO MEDILINK</h1>
    <form>
      <div class="user-box">
        <input type="text" name="" required>
        <label>Email*</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required>
        <label>Password*</label>
      </div>
      <button>
        Login
      </button>
    </form>
    <p class="test"><a class="test" href="#!">Forgot password?</a></p>
    <p>Don't have an account? <a href="#!" class="test">Register here</a></p>
  </div>