{% load static %}

<link rel="stylesheet" href="{% static 'doctor/css/doctorListStyle.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- search icon -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>Doctor List Page</title>

<body>
    <!-- header part -->
    <div class="header">
        <span>MediLink</span>
        <nav>
            <a href="#">Search</a>
            <a href="#">Logout</a>
        </nav>
    </div>

    <!-- filter part -->
    <div class="search-and-filter">
        <div class="filter-left-column">
            <span>Doctors</span>
            <h3>This page shows a list of doctors registered in MediLink.</h3>
            <h2>Filter for more accurate searching.</h2>
            <form method="get">
                {% csrf_token %}
                <div class="form-name-input">
                    {{ filter_form.name }}
                    <button class="search">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="filter-right-column">
            <form method="get" class="filter-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ filter_form.primary_speciality.id_for_label }}">Primary Speciality:</label>
                    {{ filter_form.primary_speciality }}
                </div>
                <div class="form-group">
                    <label for="{{ filter_form.address.id_for_label }}">Address:</label>
                    {{ filter_form.address }}
                </div>
                <div class="form-group">
                    <label for="{{ filter_form.borough.id_for_label }}">Borough:</label>
                    {{ filter_form.borough }}
                </div>
                <div class="form-group">
                    <label for="{{ filter_form.zip.id_for_label }}">Zip:</label>
                    {{ filter_form.zip }}
                </div>
                <button type="submit">Filter</button>
            </form>
        </div>
    </div>

    <!-- pagination -->
    <div class="pagination">
        {% if doctor_list.has_previous %}
        <a href="?page=1" class="first">First</a>
        <a href="?page={{ doctor_list.previous_page_number }}" class="prev">&laquo; Previous</a>
        {% endif %}

        <div class="page-numbers">
            {% for num in doctor_list.paginator.page_range %}

            {% if doctor_list.number == num %}
            <a href="?page={{ num }}" class="page active" onclick="activePage()">{{ num }}</a>
            {% elif num > doctor_list.number|add:'-4' and num < doctor_list.number|add:'4' %} <a href="?page={{ num }}"
                class="page" onclick="activePage()">{{ num }}</a>
                {% endif %}
                {% endfor %}

        </div>
        <span class="current">Page {{ doctor_list.number }} of {{ doctor_list.paginator.num_pages }} pages.</span>

        {% if doctor_list.has_next %}
        <a href="?page={{ doctor_list.next_page_number }}" class="next">Next &raquo;</a>
        <a href="?page={{ doctor_list.paginator.num_pages }}" class="last">Last</a>
        {% endif %}
    </div>

    <!-- doctor list part -->
    <div class="doctor-list">
        {% if doctor_list %}
        {% for doctor in doctor_list%}
        <a href="{%url 'doctor:detail_view' doctor.id %}">
            <div class="card">
                <div class="card-row">
                    <div class="card-left-column">
                        <img class="card-avatar" src="{% static 'doctor/images/avatar.jpg' %}" alt="placeholder">
                    </div>
                    <div class="card-right-column">
                        <p>Dr {{doctor.name}}</p>
                        <h3>{{doctor.primary_speciality}}</h3>
                        <h3>{{doctor.address}}</h3>
                        <div class="ratings">
                            <h3>ratings
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </h3>
                        </div>
                        <div class="contact">
                            <button style="font-size:18px" class="book-appointment" data-toggle="modal"
                                data-target="#book_appointment_modal">Contact
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-row">
                    <h3 class="card-border">
                        (most recent review from patient)
                    </h3>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

    {% else %}
    <p>No doctors are available</p>
    {% endif %}
</body>

<script src="{% static 'doctor/javascript/doctor_list.js' %}"></script>