{% load static %}
<link rel="stylesheet" href="{% static 'doctor/css/doctorDetailsStyle.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<div class="page">

    <div id="alert-container" class="alert alert-success alert-dismissible fade show fixed-alert" role="alert"
        style="display: none;">
        <strong><span id="alert_message">Hello There</span></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Doctor {{object.name}} </title>
    </head>

    <div class="header">
        <!-- <img src="logo.png" alt="logo" class="logo"> -->
        <span>Doctor {{object.name}}</span>
        <nav>
            <a href="#">Search</a>
            <a href="#">Logout</a>
        </nav>
    </div>
    <div class="main-content">
        <div class="background-jpg">
            <!-- <img src="{% static 'doctor/images/ww-min.jpg' %}" alt="Doctor" class="doctor-image"> -->
        </div>
        <div class="detail-info">
            <div class="description">
                <p>Doctor {{object.name}} is
                    a doctor 
                    {% if object.associated_hospital.name %}
                    working at {{object.associated_hospital.name}}
                    {% endif %}
                    whose primary speciality is {{object.primary_speciality}}. </p>
            </div>
            <div class="ratings">
                <p>ratings
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </p>

                <p>reviews</p>
            </div>
            <button style="font-size:18px" class="book-appointment" data-toggle="modal"
                data-target="#book_appointment_modal">Book Online Appointment
            </button>
        </div>
    </div>
    <div class="navigator">
        <div class="navigator-item">
            <h2>PHONE NUMBER</h2>
            <p>{{object.phone}}</p>
        </div>
        <div class="navigator-item">
            <h2>LOCATION</h2>
            <p>{{object.address}}, {{object.borough}}, NY{{object.zip}}</p>
        </div>
        <div class="navigator-item">
            <h2>Primary Speciality</h2>
            <p>{{object.primary_speciality}}</p>
        </div>
        {% if object.associated_hospital.name %}
        <div class="navigator-item">
            <h2>Hospital</h2>
            <p>{{object.associated_hospital.name}}</p>
        </div>
        {% endif %}        
        <div class="navigator-item">
            <h2>HOURS</h2>
            <p>Mon - Fri: 11 am - 8 pm</p>
            <p>Sat: 6 am - 8 pm</p>
        </div>
    </div>

    <!-- <h1 id="doctor_heading" class="display-4">{{ object.first_name }}</h1>

    <div class="details-main-wrapper">
        <button id="btn_book_online_consultation" class="formbold-btn" data-toggle="modal" data-target="#book_appointment_modal">Book Online Appointment</button>
    </div> -->
    {% include "doctor/online_appointment_form.html" %}

    <script src="{% static 'doctor/javascript/doctor_details.js' %}"></script>
    <footer class="filled"></footer>
</div>