{% load static %}
<link rel="stylesheet" href="{% static 'doctor/css/doctorDetailsStyle.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<div class="page">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Doctor {{object.name}} </title>
    </head>

    {% include "user/navbar.html" %}

    <div class="alert alert-danger alert-dismissible shadow fade show" id="alert-container" 
        role="alert" style="display: none">
        <button type="button" class="close" onclick="$('#alert-container').hide();" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong><span id="alert_message">Error</span></strong>
    </div>

    <div class="main-content row my-2 container-fluid">
        <div class="background-jpg col">
            <!-- <img src="{% static 'doctor/images/ww-min.jpg' %}" alt="Doctor" class="doctor-image"> -->
        </div>
        <div class="detail-info container col px-3">
            <div class="description">
                <span class="h1">Dr. {{object.name}}</span>
                <br>
                <br>
                <p class="h6 my-5">Dr. {{object.name}} is
                    a doctor 
                    {% if object.associated_hospital.name and object.active_status == True %}
                    working at {{object.associated_hospital.name}}
                    {% endif %}
                    whose primary speciality is {{object.primary_speciality}}. </p>
            </div>
            <div class="ratings">
                <p>ratings
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </p>
            </div>
            <button style="font-size:18px" class="book-appointment mt-5" data-toggle="modal"
                data-target="#book_appointment_modal">Book Online Appointment
            </button>
        </div>
    </div>
    <div class="navigator">
        <div class="navigator-item">
            <h2>Phone Number</h2>
            <p>{{object.phone}}</p>
        </div>
        <div class="navigator-item pr-3 container">
            <h2>Location</h2>
            <p>{{object.address}}, {{object.borough}}, NY{{object.zip}}</p>
        </div>
        {% if object.associated_hospital.name and object.active_status == True %}
        <div class="navigator-item pr-3 container">
            <h2>Hospital</h2>
            <p>{{object.associated_hospital.name}}</p>
        </div>
        {% endif %}
        <div class="navigator-item container">
            <h2>Primary Speciality</h2>
            <p>{{object.primary_speciality}}</p>
        </div>
    </div>

    <!-- <h1 id="doctor_heading" class="display-4">{{ object.first_name }}</h1>

    <div class="details-main-wrapper">
        <button id="btn_book_online_consultation" class="formbold-btn" data-toggle="modal" data-target="#book_appointment_modal">Book Online Appointment</button>
    </div> -->
    {% include "doctor/online_appointment_form.html" %}

    <script src="{% static 'doctor/javascript/doctor_details.js' %}"></script>
    <footer class="filled"></footer>
</div>