/* New features */

.page {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100%;
  background-color: #cfcece;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f5f5f5;
}

.header span{
  font-weight: bold;
  font-size: 20px;
}

.logo {
  width: 60px;
  height: auto;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}
nav p {
  margin: 0 10px;
}

.main-content {
  background-color: #cfcece;
  width: auto;
}

.background-jpg{
  width: 50%;
  height: 500px;
  position: absolute;
  background-image: url(../images/hospital1.jpg);
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: center;
  margin: 50px;
  border-right: 1px solid #333;
}

.detail-info{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 3% !important;
}

.detail-info p{
  font-weight: bold;
}

.book-appointment {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.navigator {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #3887c9;
  padding: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2% !important;
}

.navigator-item {
  flex-basis: 100%;
}

.navigator-item h2 {
  font-size: 20px;
  font-weight: 800;
  color:#f5f5f5;
}

.navigator-item p {
  margin: 5px 0;
  color:#f5f5f5;
}

.formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #144907;
    color: rgb(22, 13, 13);
    width: 100%;
    cursor: pointer;
}


.fixed-alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.user-reviews {
  margin: 20px 0;
}

.review-card {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.page-arrow {
  cursor: pointer;
  font-size: 24px;
  margin: 0 10px;
  color: #333;
}

.page-arrow:hover {
  color: #007bff;
}

.fa-star.checked {
        color: orange;
    }
