{% load static %}

<link rel="stylesheet" href="{% static 'googleMaps/css/map.css' %}">
<script src="{% static 'googleMaps/javascript/map.js' %}"></script>

<!DOCTYPE html>
<html>

<head>
    {% if type == "doctor" %}
    <title>Doctor {{name}} Map Position</title>
    {% else %}
    <title>{{name}} Map Position</title>
    {% endif %}
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5D37u8CYmG2wOkDJniUIBO-OBWXvCgbI&libraries=places"></script>
</head>

<body>
    <div id="inputContainer">
        <div id="inputForm">
            <input id="origin" type="text" placeholder="Enter your location">
            <button onclick="calculateRoute()">Get Route</button>
        </div>
    </div>
    <div id="map" data-latitude="{{ latitude }}" data-longitude="{{ longitude }}" data-address="{{ address }}, {{ borough }}, {{ state }} {{ zip_code }}"></div>
    <div id="output"></div>
</body>

</html>