body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h1{
    color: #fff;
    padding-bottom: 20px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #8ae44d;
  font-size: 12px;
}

.login-box form button {
  position: relative;
  padding: 10px 20px;
  color: #f9faf7;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  width: 100%;
}

.login-box button:hover {
  background: #8ae44d;
  color: #ffffff;
  border-radius: 5px;
  /* box-shadow: 0 0 5px #9cc2c4,
                0 0 25px #9ab0b1,
                0 0 50px #5f6768,
                0 0 100px #262727; */
}

.login-box a {
    position: relative;
    color: #8ae44d;
    font-size: 14px;
    transition: 0.5s;
  }

.login-box p {
    color: white;
  }

p.test {
  margin-top: 30px;
}

span {
  color: #29568a
}

