body {
  font-family: Arial, sans-serif;
  background-color: #ebf1f3;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  position: relative;
  background-color: #0a2049;
  height: 40px;
  color: white;
}

.header span {
  font-size: 30px;
  font-weight: bold;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(255, 237, 237);
}

nav p {
  margin: 0 10px;
}

.name-display {
  padding-top: 10px;
  padding-left: 100px;
  position: relative;
}

.name-display span {
  color: #0a2049;
  font-size: 60px;
  font-weight: 900;
}

/* --------- account left part ---------- */
.account-left {
  position: relative;
  width: 50%;
  float: left;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ebf1f3;
}

/* avatar part */
.avatar-card {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.avatar-upload-area {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  background-color: #ebf1f3;
  background-image: url("../images/default-avatar.png");
  background-size: cover;
  background-position: center;
}

.upload-text {
  display: none;
  position: absolute;
  text-align: center;
  background-color: rgba(
    212,
    213,
    223,
    0.8
  ); /* Background color with opacity */
  padding: 10px;
  border-radius: 20px; /* Optional: Add rounded corners */
}

.avatar-card:hover .avatar-upload-area .upload-text {
  display: block;
  font-weight: bold;
}

.hidden-input {
  display: none;
}

/* Style the upload button or input element */
.avatar-upload-area input[type="file"] {
  display: none;
  /* Additional styles for the file input element go here */
}

/* user info */
.user-info {
  background-color: rgb(10, 32, 73, 0.92);
  border-radius: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 3px 4px 10px #0a2049;
}

.user-info input {
  border-radius: 10px;
  border-width: 1px;
  margin-right: 5px;
  background-color: rgb(255, 255, 255, 0.8);
  padding: 5px;
  box-shadow: 5px 5px 10px rgba(17, 16, 16, 0.7);
}

.user-info input:disabled {
  background-color: transparent;
  color: #d1d0d0;
  cursor: not-allowed;
  border-color: #0d2850;
}

.user-info select{
  border-radius: 10px;
  border-width: 1px;
  margin-right: 5px;
  background-color: rgb(255, 255, 255, 0.8);
  padding: 7.5px;
  width: 210px;
  box-shadow: 5px 5px 10px rgba(17, 16, 16, 0.7);
}

.user-info select option{
  color: #333; /* Text color */
  background-color: #f2f2f2; /* Background color */
  font-family: Arial, sans-serif; /* Font family */
  border-radius: 10%;
  font-size: 14px; /* Font size */
  padding: 5px; /* Padding inside the options */
}

.user-info select:disabled{
  background-color: transparent;
  color: #ffffff;
  cursor: not-allowed;
  border-color: #0d2850;
}

.user-info label {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #d1d0d0;
}

.info-row {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.info-row-2 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 47%;
}

/* buttons */
.buttons {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.buttons button:disabled {
  width: 200px;
  padding: 5px;
  background-color: #f1f3f3;
  font-size: 20px;
  border-radius: 10px;
  cursor: not-allowed;
}

.edit-btn {
  width: 200px;
  padding: 5px;
  margin-right: 100px;
  background-color: rgb(114, 195, 241);
  font-size: 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  color: #0a2049;
  box-shadow: 3px 4px 10px rgb(114, 195, 241);
}

.save-btn {
  width: 200px;
  padding: 5px;
  background-color: rgb(114, 195, 241);
  font-size: 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  color: #0a2049;
  box-shadow: 3px 4px 10px rgb(114, 195, 241);
}

/* --------- account right part ---------- */
.account-right {
  position: relative;
  width: 50%;
  float: left;
  margin-bottom: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ebf1f3;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 80%;
  background-color: #f1f5f7; 
  border-radius: 20px;
  font-weight: 700;
  box-shadow: 3px 4px 10px rgb(128, 200, 241);
  color: #0a2049;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.tab:hover {
  background-color:  rgb(128, 200, 241);
}

.content {
  /* Styles for the content area go here */
  background-color: #f1f5f7;
  border-radius: 20px;
  box-shadow: 3px 4px 10px rgb(128, 200, 241);
  margin-top: 30px;
  width: 90%;
  height: 600px;
}