body, h1, form, .user-actions, .search-container {
  margin: 0;
  padding: 0;
  background-color: #fff;
}
h1 {
  text-align: center;
  padding: 60px 0; /* Adjust the padding to make the header more visible */
  font-size: 36px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #333;
  margin: 0;
}
h1 span {
  color: #0a2049;
}
.user-actions {
  position: absolute;
  top: 20px;
  right: 20px;
}
button, .user-actions a {
  padding: 10px 18px;
  background-color: #0a2049;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 0; /* Remove border-radius */
  cursor: pointer;
  font-size: 14px;
  
}
button:hover, .user-actions a:hover {
  background-color: #0a2049;
}
.user-actions a {
  display: inline-block;
  margin-left: 8px;
}
.image-container {
  text-align: center;
}
.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 0; /* Remove border-radius */
}
.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}
#search-type.form-control{
  padding: 8px 16px; /* Adjust padding */
  font-size: 12px;
  border-radius: 5px;
 
}
.search-bar {
  font-weight: 600 !important;
}
.search-bar,
.btn-success {
  padding: 8px 16px; /* Adjust padding */
  font-size: 12px;
  border-radius: 5px;
  color: #fff;
  min-height: 50px;
}
.search-bar,
#search-type.form-control {
  width: 200px;
}

.dropdown-toggle {
  min-height: 50px;
  text-align: center;
  width: 200px;
}
.dropdown-item {
  text-align: center !important;
}

.user-reviews {
  margin: 20px 0;
}

.review-card {
  padding: 15px;
  margin-bottom: 15px;
}

.review_fluid button {
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #3887c9;
}

#hospitalReviewCarousel, #doctorReviewCarousel {
  height: 300px;
  overflow-y: auto;
}

.review_heading {
  font-weight: 600 !important;
  text-align: center;
}

.review_heading span {
  color: #2a6596;
}