body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ebf1f3;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 20px;
  box-sizing: border-box;
}

.login-box {
  width: 40%;
  min-width: 300px;
  max-width: 500px;
  padding: 40px;
  background-color: #0a2049;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h1{
    color: #fff;
    padding-bottom: 20px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:not(:placeholder-shown) ~ label {
  top: -20px;
  left: 0;
  color: rgb(114, 195, 241);
  font-size: 12px;
}

.login-box form button {
  position: relative;
  padding: 10px 20px;
  color: #000000;
  background-color: rgb(114, 195, 241);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  width: 100%;
}

.login-box button:hover {
  background: rgb(43, 158, 235);
  border-radius: 5px;
}

.login-box a {
    position: relative;
    color: rgb(114, 195, 241);
    font-size: 14px;
    transition: 0.5s;
  }

.login-box p {
    color: white;
  }

p.test {
  margin-top: 30px;
}

span {
  color: rgb(114, 195, 241)
}

