{% load static %}

<title>{{login_user.name}} Account</title>

<body>
    <!-- header part -->
    {% include "user/navbar.html" %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="{% static 'user/javascript/account.js' %}"></script>
    <link rel="stylesheet" href="{% static 'user/css/account.css' %}">

    {% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message | safe }}
        </div>
    {% endfor %}
    {% endif %}

    <!-- Left container part -->
    <div class="row container-fluid">
        <div class="Account-left container col">
            <!-- Area to upload user image (avatar) -->
            <div class="avatar-card">
                <div class="avatar-upload-area">
                    <form method="POST" action="{% url 'user:account' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if login_user.avatar %}
                        <img src="{{login_user.avatar.url}}" alt="Background Image">
                        {% else %}
                        <img src="{% static 'user/images/default-avatar.png' %}" alt="Background Image">
                        {% endif %}
                        <!-- Upload button or input element -->
                        <label for="avatar-upload-input" class="avatar-upload-area-1">
                            <!-- Icon or text indicating upload action -->
                            <div class="upload-text">Upload Image</div>
                        </label>
                        <input type="file" name="avatar" id="avatar-upload-input" class="hidden-input" accept="image/*">
                    </form>
                </div>
            </div>

            <!-- name display part -->
            <div class="name-display container">
                <span>{{login_user.name}}</span>
            </div>

            <!-- user info -->
            <form id="user-info-form" method="POST" action="{% url 'user:account' %}">
                {% csrf_token %}
                <div class="user-info">
                    <div class="column">
                        <div class="row">
                            <div class="info-row">
                                <label class="info-label">Email</label>
                                <input type="text" name="email" class="info-field-disable" disabled
                                    value="{{ login_user.email }}">
                            </div>

                            <div class="info-row">
                                <label class="info-label">Name</label>
                                <input type="text" name="name" class="info-field" disabled
                                    value="{{ login_user.name }}">
                            </div>

                            <div class="info-row">
                                <label class="info-label">Phone</label>
                                <input type="text" name="phone" class="info-field" disabled
                                    value="{{ login_user.phone }}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="info-row">
                                <label class="info-label">Zip</label>
                                <input type="text" name="zip" class="info-field" disabled value="{{ login_user.zip }}">
                            </div>

                            <div class="info-row">
                                <label class="info-label">Gender</label>
                                <select class="info-field" id="sexSelect" name="sex" disabled>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>

                            <div class="info-row">
                                <label class="info-label">Borough</label>
                                <select class="info-field" id="boroughSelect" name="borough" disabled>
                                    <option value="BKN">Brooklyn</option>
                                    <option value="MHT">Manhattan</option>
                                    <option value="QNS">Queens</option>
                                    <option value="BRX">Bronx</option>
                                    <option value="SND">Staten Island</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="info-row-2">
                                <label class="info-label">Address</label>
                                <input type="text" name="address" class="info-field" disabled
                                    value="{{ login_user.address }}">
                            </div>
                            {% if userType == "patient" %}
                            <div class="info-row-2">
                                <label class="info-label">Insurance Provider</label>
                                <input type="text" name="insurance" class="info-field" disabled
                                    value="{{ login_user.insurance_provider }}">
                            </div>
                            {% elif userType == "doctor" %}
                            <div class="info-row-2">
                                <label class="info-label">Medical Specialization</label>
                                <input type="text" name="specialization" class="info-field" disabled
                                    value="{{ login_user.primary_speciality }}">
                            </div>
                            {% endif %}
                            {% if userType != "patient" %}
                            <div class="info-row-2">
                                <label class="info-label"> 
                                    {% if login_user.active_status == False %}Requested {% else %}Associated {% endif %}
                                    Hospital
                                </label>
                                <input type="text" id="associatedHospital" name="associatedHospital" class="info-field" disabled
                                    value="{{ login_user.associated_hospital.name }}">
                                <input type="hidden" id="selectedId" name="hospital">
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>


                <!-- edit button -->
                <div class="buttons">
                    <button class="edit-btn">Edit</button>
                    <button type="submit" class="save-btn" disabled>Save</button>
                </div>
            </form>
        </div>

        <!-- Right container part -->
        <div class="Account-right container col">
            <div class="tabs">
                {% if userType != "hospitalAdmin" %}
                <div class="tab active-tab" name="consultations" onclick="showContent('consultations')">Online
                    Consultations</div>
                <div class="tab" name="appointments" onclick="showContent('appointments')">Onsite Appointments</div>
                {% else %}
                <div class="tab active-tab" name="appointments" onclick="showContent('appointments')">Onsite Appointments</div>
                <div class="tab" name="requests" onclick="showContent('requests')">Requests</div>
                {% endif %}
            </div>

            {% if userType != "hospitalAdmin" %}
            <div class="content" id="consultationsContent">
                <!-- Content for Consltations tab -->
                {% if doctor_appointments %}
                {% for appointment in doctor_appointments %}
                <div class="collapsible">
                    <span class="collapsible-label">
                        {% if userType == "patient" %}
                        Consultation with Doctor
                        <a href="{%url 'doctor:detail_view' appointment.doctor.id %}">{{ appointment.doctor.name }} </a>
                        {% elif userType == "doctor"%}
                        Consultation request from {{ appointment.patient.name }}
                        {% endif %}
                    </span>
                    <span class="icon">+</span>
                </div>
                <div class="collapsible-content">
                    <h3>Consultation Details: </h3>
                    <div class="row">
                        <div class="appointment-row">
                            <label class="display-label">Time</label>
                            <p>{{ appointment.start_time }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="appointment-row">
                            <label class="display-label">Name</label>
                            <p>{{ appointment.name }}</p>
                        </div>

                        <div class="appointment-row">
                            <label class="display-label">Phone</label>
                            <p>{{appointment.phone}}</p>
                        </div>

                        <div class="appointment-row">
                            <label class="display-label">Email</label>
                            <p>{{appointment.email}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="appointment-row">
                            <label class="display-label">Reason</label>
                            <p>{{appointment.reason}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="appointment-row">
                            <label class="display-label">Status:
                                {% if appointment.status == "REQ" %}
                                Requested
                                {% elif appointment.status == "CNF" %}
                                Confirmed
                                {% elif appointment.status == "CCL" %}
                                Cancelled
                                {% elif appointment.status == "REJ" %}
                                Rejected
                                {% endif %}
                            </label>
                        </div>

                        {% if appointment.cancel_msg %}
                        <div class="appointment-row">
                            <label class="display-label">Cancel Reason: {{appointment.cancel_msg}} </label>
                        </div>
                        {% else %}
                        {% endif %}

                    </div>

                    <!-- buttons for consultation operations -->
                    <!-- for patient, only cancel operation is allowed when the status is not cancelled or rejected -->
                    {% if userType == "patient" and appointment.status != "CCL" and appointment.status != "REJ" %}
                    <div class="appointment-row">
                        <button class="cancel-btn" data-toggle="modal" data-target="#cancelModal"
                            data-appointment-id="{{ appointment.id }}" data-appointment-type="consultation"
                            data-operation="CCL" data-appointment-time="{{ appointment.start_time }}"> Cancel
                        </button>
                    </div>
                    <!-- for docotr, if the status is requested, the doctor can confirm or reject it-->
                    {% elif userType == "doctor" and appointment.status == "REQ" %}
                    <div class="reject-confirm-buttons">
                        <button class="reject-btn" data-toggle="modal" data-target="#rejectModal"
                            data-appointment-id="{{ appointment.id }}" data-appointment-type="consultation"
                            data-operation="REJ" data-appointment-time="{{ appointment.start_time }}"> Reject </button>

                        <!-- operation to confirm the consultation -->
                        <form action="{% url 'user:confirmAppointment' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="appointment_id" value="{{appointment.id}}">
                            <input type="hidden" name="appointment_type" value="consultation">
                            <input type="hidden" name="operation" value="CNF">
                            <button class="confirm-btn" type="submit"> Confirm </button>
                        </form>

                    </div>
                    <!-- for doctor, if the status is confirmed, the doctor can still cancel it -->
                    {% elif userType == "doctor" and appointment.status == "CNF" %}
                    <div class="appointment-row">
                        <button class="cancel-btn" data-toggle="modal" data-target="#cancelModal"
                            data-appointment-id="{{ appointment.id }}" data-appointment-type="consultation"
                            data-operation="CCL" data-appointment-time="{{ appointment.start_time }}"> Cancel </button>
                    </div>
                    {% endif %}

                </div>
                {% endfor %}
                {% else %}
                <p class="no-result">
                    No onsite appointments available.
                </p>
                {% endif %}
            </div>
            {% endif %}

            <!-- onsite appointment section should be displayed to hospital admins but hide from patients and doctors -->
            {% if userType == "hospitalAdmin"%}
            <div class="content" id="appointmentsContent">
                {% else %}
                <div class="content" id="appointmentsContent" style="display: none;">
                    {% endif %}
                    <!-- Content for Appointments tab -->
                    {% if hospital_appointments %}
                    {% for appointment in hospital_appointments %}
                    <div class="collapsible">
                        <span class="collapsible-label">
                            {% if userType == "patient" %}
                            Appointment in hospital
                            <a href="{%url 'hospital:detail_view' appointment.hospital.id %}">
                                {{appointment.hospital.name }} </a>
                            {% elif userType == "doctor"%}
                            Appointment at {{appointment.hospital.name}}
                            {% elif userType == "hospitalAdmin" %}
                            Appointment request from {{ appointment.patient.name }}
                            {% endif %}
                        </span>
                        <span class="icon">+</span>
                    </div>
                    <div class="collapsible-content">
                        <h3>Appointment Details:</h3>

                        <div class="row">
                            <div class="appointment-row">
                                <label class="display-label">Time</label>
                                <p>{{ appointment.start_time }}</p>
                            </div>
                            <div class="appointment-row">
                                <label class="display-label">Accessibility</label>
                                {% if appointment.accessibility %}
                                <p>{{ appointment.accessibility }}</p>
                                {% else %}
                                <p> Not Required </p>
                                {% endif %}
                            </div>
                            <div class="appointment-row">
                                <label class="display-label">Prefered Doctor</label>
                                {% if appointment.preferred_doctor %}
                                <a href="{%url 'doctor:detail_view' appointment.preferred_doctor.id %}">
                                    {{appointment.preferred_doctor.name}}
                                </a>
                                {% else %}
                                <p> No Preferences </p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="appointment-row">
                                <label class="display-label">Name</label>
                                <p>{{ appointment.name }}</p>
                            </div>

                            <div class="appointment-row">
                                <label class="display-label">Phone</label>
                                <p>{{appointment.phone}}</p>
                            </div>

                            <div class="appointment-row">
                                <label class="display-label">Email</label>
                                <p>{{appointment.email}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="appointment-row">
                                <label class="display-label">Reason</label>
                                <p>{{appointment.reason}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="appointment-row">
                                <label class="display-label">Status:
                                    {% if appointment.status == "REQ" %}
                                    Requested
                                    {% elif appointment.status == "CNF" %}
                                    Confirmed
                                    {% elif appointment.status == "CCL" %}
                                    Cancelled
                                    {% elif appointment.status == "REJ" %}
                                    Rejected
                                    {% endif %}
                                </label>
                            </div>

                            {% if appointment.cancel_msg %}
                            <div class="appointment-row">
                                <label class="display-label">Cancel Reason: {{appointment.cancel_msg}} </label>
                            </div>
                            {% else %}
                            {% endif %}
                        </div>

                        <!-- buttons for appointment operations, doctor don't have permission to make changes -->
                        <!-- for user, only cancel operation is allowed when the status is not cancelled or rejected -->
                        {% if userType == "patient" and appointment.status != "CCL" and appointment.status != "REJ" %}
                        <div class="appointment-row">
                            <button class="cancel-btn" data-toggle="modal" data-target="#cancelModal"
                                data-appointment-id="{{ appointment.id }}" data-appointment-type="appointment"
                                data-operation="CCL" data-appointment-time="{{ appointment.start_time }}"> Cancel
                            </button>
                        </div>

                        <!-- for hospitalAdmin, if the status is requested, the hospitalAdmin can confirm or reject it-->
                        {% elif userType == "hospitalAdmin" and appointment.status == "REQ" %}

                        <div class="reject-confirm-buttons">
                            <button class="reject-btn" data-toggle="modal" data-target="#rejectModal"
                                data-appointment-id="{{ appointment.id }}" data-appointment-type="appointment"
                                data-operation="REJ" data-appointment-time="{{ appointment.start_time }}"> Reject
                            </button>

                            <!-- operation to confirm the consultation -->
                            <form action="{% url 'user:confirmAppointment' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="appointment_id" value="{{appointment.id}}">
                                <input type="hidden" name="appointment_type" value="consultation">
                                <input type="hidden" name="operation" value="CNF">
                                <button class="confirm-btn" type="submit"> Confirm </button>
                            </form>
                        </div>

                        <!-- for hospitalAdmin, if the status is confirmed, the hospitalAdmin can still cancel it -->
                        {% elif userType == "hospitalAdmin" and appointment.status == "CNF" %}
                        <div class="appointment-row">
                            <button class="cancel-btn" data-toggle="modal" data-target="#cancelModal"
                                data-appointment-id="{{ appointment.id }}" data-appointment-type="appointment"
                                data-operation="CCL" data-appointment-time="{{ appointment.start_time }}"> Cancel
                            </button>
                        </div>
                        {% endif %}

                    </div>
                    {% endfor %}
                    {% else %}
                    <p class="no-result">
                        No onsite appointments available.
                    </p>
                    {% endif %}
                </div>

                <div class="content" id="requestsContent" style="display: none">
                    {% if requests %}
                    {% for doctor in requests %}
                    <div class="collapsible">
                        <span class="collapsible-label">
                            Request from {{doctor.name }}
                        </span>
                        <span class="icon">+</span>
                    </div>
                    <div class="collapsible-content">
                        <h3>Doctor Details:</h3>

                        <div class="row">
                            <div class="appointment-row">
                                <label class="display-label">Name</label>
                                <p>{{ doctor.name }}</p>
                            </div>

                            <div class="appointment-row">
                                <label class="display-label">Phone</label>
                                <p>{{doctor.phone}}</p>
                            </div>

                            <div class="appointment-row">
                                <label class="display-label">Sex</label>
                                <p>{{doctor.sex}}</p>
                            </div>

                            <div class="appointment-row">
                                <label class="display-label">Email</label>
                                <p>{{doctor.email}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="appointment-row">
                                <label class="display-label">Zip</label>
                                <p>{{doctor.zip}}</p>
                            </div>
                            
                            <div class="appointment-row">
                                <label class="display-label">Address</label>
                                <p>{{doctor.address}}</p>
                            </div>
                        </div>

                        <div class="buttons">
                            <button class="reject-btn" data-toggle="modal" data-target="#rejectRequestModal"
                                data-doctor-id="{{ doctor.id }}" data-doctor-name="{{ doctor.name }}"> Reject
                            </button>

                            <form action="{% url 'user:associate_doctor' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="doctor_id" value="{{doctor.id}}">
                                <input type="hidden" name="decision" value="APPROVE">
                                <input type="hidden" name="cancel_reason" value="">
                                <button class="confirm-btn" type="submit"> Approve </button>
                            </form>
                        </div>
                        
                    </div>
                    {% endfor %}
                    {% else %}
                    <p class="no-result">
                        No Requests Available.
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- modals for Consultation operations -->
        <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModal"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="logoutModalLabel">Cancel Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>You will
                            <span class="appointmentTimeSpan">
                                cancel
                            </span>
                            the consultation / appointment scheduled for
                            <span id="appointmentTimeSpan" class="appointmentTimeSpan"></span>
                            , and this operation cannot be undone. Are you sure to
                            <span class="appointmentTimeSpan">
                                cancel
                            </span>
                            it?
                        </p>
                        <form action="{% url 'user:cancelAppointment' %}" method="post">
                            {% csrf_token %}
                            <label class="cancel-label"> Cancel Reason: </label>
                            <input class="cancel-reason" type="text" name="cancel_reason" required>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="appointmentId" name="appointment_id" value="">
                        <input type="hidden" id="appointmentType" name="appointment_type" value="">
                        <input type="hidden" id="operation" name="operation" value="">
                        <button type="submit" class="btn btn-danger">Cancel</button>
                        </form>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="rejectModal"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="logoutModalLabel">Reject Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>You will
                            <span class="appointmentTimeSpan">
                                reject
                            </span>
                            the consultation / appointment scheduled for
                            <span id="appointmentTimeSpan2" class="appointmentTimeSpan"></span>
                            , and this operation cannot be undone. Are you sure to
                            <span class="appointmentTimeSpan">
                                reject
                            </span>
                            it?
                        </p>
                        <form action="{% url 'user:cancelAppointment' %}" method="post">
                            {% csrf_token %}
                            <label class="cancel-label"> Cancel Reason: </label>
                            <input class="cancel-reason" name="cancel_reason" type="text" required>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="appointmentId2" name="appointment_id" value="">
                        <input type="hidden" id="appointmentType2" name="appointment_type" value="">
                        <input type="hidden" id="operation2" name="operation" value="">
                        <button type="submit" class="btn btn-danger">Reject</button>
                        </form>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="rejectRequestModal" tabindex="-1" role="dialog" aria-labelledby="rejectRequestModal"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="logoutModalLabel">Reject Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>You will <strong> reject </strong>
                            the request by
                            <strong><span id="doctor_name_span"></span></strong>
                            , and this operation cannot be undone. Are you sure you want to
                            <strong>reject</strong>
                            the request?
                        </p>
                        <form action="{% url 'user:associate_doctor' %}" method="post">
                            {% csrf_token %}
                            <label class="cancel-label"> Reject Reason: </label>
                            <input class="cancel-reason" name="cancel_reason" type="text" required>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="doctor_id" name="doctor_id" value="">
                        <input type="hidden" id="decision" name="decision" value="REJECT">
                        <button type="submit" class="btn btn-danger">Reject</button>
                        </form>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>
                    </div>
                </div>
            </div>
        </div>

</body>

<!-- some js code for user interaction -->
<script>
    // Borough selection part
    var userBorough = "{{ login_user.borough }}";
    var selectElement = document.getElementById("boroughSelect");

    var userSex = "{{ login_user.sex }}";
    var sexElement = document.getElementById("sexSelect");

    // Loop through options and set the default option based on user.borough
    for (var i = 0; i < selectElement.options.length; i++) {
        if (selectElement.options[i].value === userBorough) {
            selectElement.options[i].selected = true;
            break;
        }
    }

    // Loop through options and set the default option based on user.sex
    for (var i = 0; i < sexElement.options.length; i++) {
        if (sexElement.options[i].value === userSex) {
            sexElement.options[i].selected = true;
            break;
        }
    }

    // avatar upload
    document.getElementById('avatar-upload-input').addEventListener('change', function () {
        this.form.submit(); // Automatically submit the form when a file is selected
    });
</script>