{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'user/css/home.css' %}">
</head>
<!-- ... rest of your HTML ... -->
<body>
        
    {% include "user/navbar.html" %}

    <!-- Search Bars -->
    <div class="search-container">
        <div class="search-bar-container">
            <!-- Search Bar 1 -->
            <div class="input-group mt-3">
                <input type="text" class="form-control search-bar" placeholder="Search...">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button">Search</button>
                </div>
            </div>
            <div style="margin-right: 10px;"></div>
            <!-- Search Bar 2 -->
            <div class="input-group mt-3">
                <input type="text" class="form-control search-bar" placeholder="Search Location...">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button">Search Location</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Image 1 -->
    <div class="image-container">
        <img src="{% static 'user/images/home.jpg' %}" alt="Your Image Alt Text">
    </div>

    <!-- Placeholder for Another Image -->
    <div class="image-container">
        <img src="{% static 'user/images/home1.png' %}" alt="Your Image Alt Text">
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>

