{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'user/javascript/home_page.js' %}"></script>
    <link rel="stylesheet" href="{% static 'user/css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    {% include "user/navbar.html" %}

    <!-- Search Bars -->
    <div class="search-bar-container">
        <!-- Merged Search Bar with Dropdown -->
        <form class="input-group container" id="search-form">
            <div class="dropdown">
                <button id="search_selector" class="btn btn-primary dropdown-toggle" type="button" id="search_type" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Doctors
                </button>
                <div class="dropdown-menu container" aria-labelledby="search_type">
                    <a id="search_doctor" class="dropdown-item" href="#" onclick="setSelection('doctor')">Doctors</a>
                    <a id="search_hospital" class="dropdown-item" href="#" onclick="setSelection('hospital')">Hospitals</a>
                </div>
            </div>
            <input type="text" class="form-control search-bar ml-3" name="query" id="general-search" placeholder="Search Name">
            <div class="input-group-append">
                <button class="btn btn-success px-5" type="submit">Search</button>
            </div>
        </form>
    </div>

    <!-- Image 1 -->
    <div class="image-container">
        <img src="{% static 'user/images/home.jpg' %}" alt="Your Image Alt Text">
    </div>

    <div class="container-fluid">

        {% if user_borough %}
        <p class="display-3 my-5 px-5 review_heading">Patient reviews near you in <span>{{ user_borough }}:</span></p>
        {% else %}
        <p class="display-3 my-5 px-5 review_heading">Patient reviews</p>
        {% endif %}

        <hr class="mb-5 mx-5"/>

        <!-- Doctor Reviews -->
        <div class="row container review_fluid mx-auto">
            <button class="btn btn-primary" id="doctorLeftPageBtn" onclick="carousel_left('doctorReviewCarousel')">
                <i class="fas fa-chevron-left col"></i>
            </button>
            <div class="reviews-section col container px-0 py-0 card">
                <nav class="navbar navbar-light bg-light justify-content-between" id="doctorReviewsNav">
                    <h2 class='display-4'>Doctor Reviews</h2>
                </nav>
                <div class="carousel-container">
                    {% if doctor_reviews %}
                        <div id="doctorReviewCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for review in doctor_reviews %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <div class="review-card mb-0">
                                            <p><a href={% url "doctor:detail_view" review.doctor.id %}><span class="h4 mb-1">Dr. {{ review.doctor.name }}</span></a></p>
                                            <p><span class="h6">Title: </span>{{ review.title }}</p>
                                            <p><span class="h6">Patient Name: </span>{{ review.review_from }}</p>
                                            <p><span class="h6">Rating: </span>{{ review.rating }}/5</p>
                                            <p class="lead">{{ review.description }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <p class="mx-5 my-5 h2">No doctor reviews available.</p>
                    {% endif %}
                </div>
            </div>
            <button class="btn btn-primary" id="doctorRightPageBtn" onclick="carousel_right('doctorReviewCarousel')">
                <i class="fas fa-chevron-right col"></i>
            </button>
        </div>

        <!-- Hospital Reviews -->
        <div class="row container review_fluid mx-auto my-5">
            <button class="btn btn-primary" id="hospitalLeftPageBtn" onclick="carousel_left('hospitalReviewCarousel')">
                <i class="fas fa-chevron-left col"></i>
            </button>
            <div class="reviews-section col container px-0 py-0 card">
                <nav class="navbar navbar-light bg-light justify-content-between" id="hospitalReviewsNav">
                    <h2 class='display-4'>Hospital Reviews</h2>
                    <!-- Add Review button for hospitals if needed -->
                </nav>
                <div class="carousel-container">
                    {% if hospital_reviews %}
                        <div id="hospitalReviewCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for review in hospital_reviews %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <div class="review-card mb-0">
                                            <p><a href={% url "hospital:detail_view" review.hospital.id %}><span class="h4 mb-1">Dr. {{ review.hospital.name }}</span></a></p>
                                            <p><span class="h6">Title: </span>{{ review.title }}</p>
                                            <p><span class="h6">Patient Name: </span>{{ review.review_from }}</p>
                                            <p><span class="h6">Rating: </span>{{ review.rating }}/5</p>
                                            <p class="lead">{{ review.description }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <p class="mx-5 my-5 h2">No hospital reviews available.</p>
                    {% endif %}
                </div>
            </div>
            <button class="btn btn-primary" id="hospitalRightPageBtn" onclick="carousel_right('hospitalReviewCarousel')">
                <i class="fas fa-chevron-right col"></i>
            </button>
        </div>

        <hr class="mb-5 mx-5"/>

    </div>

    <!-- Placeholder for Another Image -->
    <div class="image-container">
        <img src="{% static 'user/images/home1.png' %}" alt="Your Image Alt Text">
    </div>
</body>
</html>