{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registration Page</title>    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'user/css/user_registration.css' %}">
<script src="{% static 'user/javascript/user_registration.js' %}"></script>

{% if messages %}
  {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          {{ message | safe }}
      </div>
  {% endfor %}
{% endif %}

<div class="registration-box" id="registration-box">
    <h1 class="text-center"><span>MediLink</span> User Registration</h1>
    <form id="registrationForm" method="POST" action="{% url "user:user_registration" %}">
        {% csrf_token %}    
        <div id="user_details_section">
            <div class="form-group">
                <input type="text" name="user_name" id="name" required placeholder=" ">
                <label for="name">Name</label>
            </div>
            <div class="form-group">
                <input type="email" name="user_email" id="email" required placeholder=" ">
                <label for="email">Email</label>
            </div>
            <div class="form-group">
                <label class="select-label" for="sex">Sex</label>
                <select class="custom-select select-transparent" id="sex" name="user_sex" required> 
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <input type="phone" name="user_phone" id="phone" required placeholder=" ">
                <label for="phone">Phone Number</label>
            </div>
            <div class="form-group">
                <label class="select-label" for="userType">User Type</label>
                <select class="custom-select select-transparent" id="userType" name="userType" onchange="showAdditionalFields()">
                    <option value="patient">General Patient</option>
                    <option value="doctor">Doctor / Medical Specialist</option>
                    <option value="hospital-admin">Hospital Administrator</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" id="address" name="address" placeholder=" " required>
                <label for="address">Address</label>
            </div>
            <div class="form-group">
                <select class="custom-select select-transparent" id="borough" name="borough" required>
                    <option value="BKN">Brooklyn</option>
                    <option value="MHT">Manhattan</option>
                    <option value="QNS">Queens</option>
                    <option value="BRX">Bronx</option>
                    <option value="SND">Staten Island</option>
                </select>
            </div>
            <div class="form-group">
                <input type="Number" id="zip" name="zip" placeholder=" " required>
                <label for="zip">Zip Code</label>
            </div>
            
            <!-- Additional fields for Doctor -->
            <div class="form-group hidden" id="doctorFields">
                <input type="text" id="specialization" name="specialization" placeholder=" ">
                <label for="specialization">Medical Specialization</label>
            </div>
            <!-- Additional fields for Doctor and Hospital Administrator -->
            <div class="form-group hidden" id="hospitalAdminFields">
                <label class="select-label" for="associatedHospital">Associated Hospital</label>
                <select class="custom-select select-transparent" id="associatedHospital" name="hospital">
                    <option value="">None</option>
                </select>
            </div>
            <!-- Additional fields for Patient (you can customize this part) -->
            <div class="form-group" id="patientFields">
                <input type="text" id="insurance" name="insurance" placeholder=" ">
                <label for="insurance">Insurance Provider</label>
            </div>
            <button type="button" onclick="showPasswordFields()">Continue</button>
            <p>Already have an account? <a href="{% url "user:login" %}" class="login">Login here</a></p>
        </div>
        

        <div class="hidden" id="passwordFields">
            <div class="form-group">
                <input type="password" id="password" name="password" onkeyup="checkPassword()" placeholder=" ">
                <label for="password">Password</label>
            </div>
            <div class="form-group">
                <input type="password" id="confirm-password" onkeyup="checkPassword()" placeholder=" ">
                <label for="confirm-password">Confirm Password</label>
            </div>
            <label id="password_status"> </label>
            <div class="form-group">
                <button type="submit" disabled id="btn_register_user">Register</button>
            </div>
        </div>
        
    </form>
</div>
