.details-main-wrapper {
  width: 100%; 
  margin-top: 50px;
  padding-left: 30%;
  padding-right: 30%;
}

#hospital_heading {
  text-align: center;
  padding-top: 20px;
  font-weight: 600;
}

.formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #090638;
    color: white;
    width: 100%;
    cursor: pointer;
}

.fixed-alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  width: 100%;
  max-width: 700px;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}