{% load static %}
<link rel="stylesheet" href="{% static 'hospital/css/hospitalDetailsStyle.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="page">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hospital {{object.name}} </title>
    </head>

    {% include "user/navbar.html" %}

    <div class="alert alert-danger alert-dismissible shadow fade show" id="alert-container" 
        role="alert" style="display: none">
        <button type="button" class="close" onclick="$('#alert-container').hide();" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong><span id="alert_message">Error</span></strong>
    </div>

    <div class="main-content row my-2 container-fluid">
        <div class="background-jpg col">

        </div>
        <div class="detail-info container col px-3">
            <div class="description">
                <span class="h1">{{object.name}}</span>
                <br>
                <br>
                <p class="h6 my-5">{{object.name}} is
                    a hospital located at {{object.borough}} which is a
                    type of {{object.facility_type}}. </p>
            </div>
            <div class="ratings">
                <p>ratings
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </p>
            </div>
            <button style="font-size:18px" class="book-appointment mt-5" data-toggle="modal"
                data-target="#book_appointment_modal">Book Appointment
            </button>
        </div>
    </div>
    <div class="navigator container">
        <div class="navigator-item container">
            <h2>Phone Number</h2>
            <p>{{object.phone}}</p>
        </div>
        <div class="navigator-item pr-5 container">
            <h2>Location</h2>
            <p>{{object.location}}, {{object.borough}}, NY{{object.postal_code}}</p>
        </div>
        <div class="navigator-item pr-5 container">
            <h2>Facility Type</h2>
            <p>{{object.facility_type}}</p>
        </div>
    </div>

    {% include "hospital/hospital_appointment_form.html" %}

</div>